@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@section Sidebar{
    <a class="active" asp-area="" asp-controller="Iverciai" asp-action="Marks">Įverčiai</a>
    <a asp-area="" asp-controller="Iverciai" asp-action="Attendance">Lankomumas</a>
    <a asp-area="" asp-controller="Iverciai" asp-action="Requirements">Modulių reikalavimai</a>
}

@section Modals{
    <div class="modal fade" id="newEntryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="textModalLabel">Pervadinti</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <!-- CIA VISI LAUKAI KURIE RODOMI PRIDEJIMO IR REDAGAVIMO METU, REIKES PAKEISTI requestInput FUNKCIJA -->
                    <div class="input-group mb-3">
                        <label for="inputModalName">Atsiskaitymo pavadinimas:  </label> <br /> <!--NElabai cia gerai. reikes keisti-->
                        <input id="inputModalName" type="text" class="form-control" placeholder="Pavadinimas" aria-label="Atsiskaitymo pavadinimas" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <label for="inputModalName">Data:  </label> <br /> <!--NElabai cia gerai. reikes keisti-->
                        <input id="inputModalName" type="date" class="form-control" placeholder="" aria-label="Atsiskaitymo data" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <label for="inputModalName">Auditorija:  </label> <br /> <!--NElabai cia gerai. reikes keisti-->
                        <input id="inputModalName" type="text" class="form-control" placeholder="Auditorija" aria-label="Auditorija" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <label for="inputModalName">Pažymys:  </label> <br /> <!--NElabai cia gerai. reikes keisti-->
                        <textarea id="inputModalContent" type="text" class="form-control" placeholder="Pažymys" aria-label="Pažymys" aria-describedby="basic-addon1"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="inputModalConfirm" type="button" class="btn btn-success" data-dismiss="modal">Redaguoti</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Atšaukti</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="viewEntryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewModalLabel">Peržiūra</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <!-- CIA VISI LAUKAI KURIE RODOMI PRIDEJIMO IR REDAGAVIMO METU, REIKES PAKEISTI requestInput FUNKCIJA -->
                    <div class="input-group mb-3">
                        <label for="inputModalName">Atsiskaitymo pavadinimas:  </label> <br /> <!--NElabai cia gerai. reikes keisti-->
                        <input disabled id="inputModalName" type="text" class="form-control" placeholder="Pavadinimas" aria-label="Atsiskaitymo pavadinimas" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <label for="inputModalName">Data:  </label> <br /> <!--NElabai cia gerai. reikes keisti-->
                        <input disabled id="inputModalName" type="date" class="form-control" placeholder="" aria-label="Atsiskaitymo data" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <label for="inputModalName">Auditorija:  </label> <br /> <!--NElabai cia gerai. reikes keisti-->
                        <input disabled id="inputModalName" type="text" class="form-control" placeholder="Auditorija" aria-label="Auditorija" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <label for="inputModalName">Pažymys:  </label> <br /> <!--NElabai cia gerai. reikes keisti-->
                        <textarea disabled id="inputModalContent" type="number" class="form-control" placeholder="Pažymys" aria-label="Pažymys" aria-describedby="basic-addon1"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Uždaryti</button>
                </div>
            </div>
        </div>
    </div>
}

<table class="table" style="width: 100%">
    @*@if (ViewBag.Admin)
    {
        <tr>
            <th>
                <div class="isp-item" id="AddModule" style="margin-bottom: 15px;">
                    <i class="fas fa-plus" style="color: #3c5c4a;"></i>
                    <span class="name">Naujas modulis</span>
                </div>
            </th>
        </tr>
    }*@
    @for (int i = 0; i < 5; i++)
    {
        <tr>
            <th>Modelis nr. @(i + 1)</th>
        </tr>
        @if (ViewBag.Admin)
        {
            <tr>
                <th>
                    <div class="isp-item" id="CreateAssingment" style="margin-bottom: 15px;">
                        <i class="fas fa-plus" style="color: #3c5c4a;"></i>
                        <span class="name">Naujas atsiskaitymas</span>
                    </div>
                </th>
            </tr>
        }
        <tr>
            <td>
                <div class="isp-item-list col">
                    @for (int u = 0; u < 10; u++)
                    {
                        string tooltipDirection = u == 0 ? "bottom" : "top";

                        <div class="isp-item" name="@u">
                            <span class="name">Atsiskaitymas @u</span>
                            <span class="right-third"><b>'Pazymys'</b></span>

                            @if (ViewBag.Admin)
                            {
                                <div class="vertical-line"></div>

                                <div class="icons icons-count-2">
                                    <i class="fas fa-pen" data-toggle="tooltip" data-placement="@tooltipDirection" title="Redaguoti"></i>

                                    <i class="fas"></i>

                                    <i class="fas fa-trash" data-toggle="tooltip" data-placement="@tooltipDirection" title="Ištrinti"></i>
                                </div>
                            }
                        </div>
                    }
                </div>
            </td>
        </tr>
    }
</table>

@section Scripts {
    <script>
        function deleteConfirmed() {
            // Funkcija iskviecia kai patvirtintas istrynimas, reikia ajax requesto
        }

        function getEntryName(element) {
            return $(element).closest(".isp-item").attr("name");
        }

        function deleteEntry(element) {
            $("#modalEntryName").text(getEntryName(element));
            $('#deleteEntryModal').modal();
        }

        function editEntry(element) {
            requestInput(
                "Redaguoti",
                getEntryName(element),
                "PRANESIMO TEKSTAS",
                "Redaguoti",
                function () {
                    // Ajax
                });
        }

        function requestInput(header, initialText1, initialText2, btnText, clickcb) {
            $("#textModalLabel").text(header);
            $("#inputModalConfirm").text(btnText);
            $("#inputModalConfirm").off("click");
            $("#inputModalConfirm").click(clickcb);
            $("#inputModalName").val(initialText1);
            $("#inputModalContent").val(initialText2);
            $('#newEntryModal').modal();
        }

        function newEntry() {
            requestInput(
                "Naujas atsiskaitymas",
                "",
                "",
                "Sukurti",
                function () {
                    // Cia normalu ajax reikes ideti, cia tik pavyzdinis
                    @*
                    let name = $("#id").val();

                    $.ajax({
                        url: '@Url.Action(Action, Controller)',
                        type: 'POST',
                        data: {
                            details: {
                                vardas: reiksme
                            }
                        },
                        success: function (data) {
                            if (data === 'True') {
                                // Kazkas kai pavyko
                            }
                            else {
                                // Kazkas blogai, arba jau egzistuoja arba dar kazkas
                            }
                        },
                        error: function () {
                            // Nepavyko ajax issiusti
                        }
                    });*@
                });
        }

        function selectElement(element) {
            $("#viewModalName").val(getEntryName(element));
            $("#viewModalContent").val("PRANESIMO TEKSTAS");
            $('#viewEntryModal').modal();
        }

        $(document).ready(function () {
            // Don't ask
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });

            // Ištrinti
            $(".isp-item").on('click', '.fa-trash', function (event) {
                event.stopPropagation();
                deleteEntry($(this));
            });

            // Redaguoti
            $(".isp-item").on('click', '.fa-pen', function (event) {
                event.stopPropagation();
                editEntry($(this));
            });

            // Sukurimas
            $("#CreateAssingment").click(function (event) {
                event.stopPropagation();
                newEntry();
            });

            // Paspaudimas ant elemento
            $(".isp-item-list").on("click", ".isp-item", function (event) {
                event.stopPropagation();
                selectElement($(this));
            });
        })
    </script>
}